.general-info {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;

  padding: 1.7rem;

  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.general-info > .button {
  align-self: flex-end;
}